.Header {
    padding: 15px;
    background-color: #30c2c2;
}

.Header__logo {
    display: inline-block;
    width: 100px;
}

.Header__text {
    display: inline-block;
    margin: 20px;
    font-family: sans-serif;
    font-size: 1.6rem;
}